#logo{
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p > iframe,  img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body{
  font-family: arial;
  text-align: justify;
  margin:0;
  height:auto; 
  border-right:150px solid gray;
  border-left:150px solid gray;
}
h1, h2{
  font-family: sans-serif;
  color: 000033;
}
a:link{ text-decoration: none;}
a:visited{text-decoration: none;}
a:hover{
  font-style: oblique;
}
a:active{}
a[href*="http"]{
    background-image: url(img/globo.png);
    background-repeat: no-repeat;
    padding-left: 0.5cm;
  }
  p>strong{
    background-color: 3366CC;
    color: 000033;
    font-size: 40px;
  }
  p>em{
  font-size: 25px;
  color: 000066;
  }
  em.nota{
    color: gray;
  }
